/* ------------ <> Stahnev Yura 22.07.22  --------------*/
:root {
   --grey: #adb5bd; /* bootstrap $gray-500 */
   --red: #dc3545; /* bootstrap $danger */
}
/* ------------ </> Stahnev Yura 22.07.22  --------------*/

body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

/* ------------ Stahnev Yura 22.07.22  --------------*/
.favorites-button {
   margin-left: 2.3rem;
}

.favorites-button:hover {
   cursor: pointer;
}

.favorites-button.bi-heart {
   color: var(--grey);
}

.favorites-button:hover.bi-heart {
   color: var(--red);
}

.favorites-button.bi-heart-fill {
   color: var(--red);
}
