body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

/* ------------ Stahnev Yura 22.07.22  --------------*/
.favorites-button {
   margin-left: 2.3rem;
   color: #adb5bd;       /* bootstrap $gray-500 */
}

.favorites-button:hover {
   cursor: pointer;
   color: #dc3545;      /* bootstrap $danger */
}